# dependencies
**/node_modules/
/.pnp
.pnp.js

# cache
.eslintcache
.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
config/.env
shared/.env.keys
certs/cert.pem
certs/key.pem
frontend/README.md
frontend/src/api/api.js.orig
console.log
run.sh.old