*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal; 
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
    text-decoration: none;
    color:#212529;
}
button{
    border:none;
}
main{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-fluid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    @media(max-width:570px){
        padding: 10px;
    }
}


/*NavBar*/
header{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;
    @media(min-width:851px){
        padding-bottom: 13px;
        border-bottom:1px #e4e2e2 solid ;
    }
    
}
.header_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_side_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    height: 70px;
    width: 100%;
    max-width: 140px;
    @media(max-width:480px) {
        height: 50px;
        width: 100%;
        max-width: 100px;
     }
}
.header_info{
    text-align: end;
}
